/* Manage Supplier Buttons */
.btn-warning {
  background-color: #ff9900;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-warning:hover {
  background-color: #e68900;
}

.btn-danger {
  background-color: #ff4d4d;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-danger:hover {
  background-color: #ff1a1a;
}

.btn i {
  margin-right: 5px;
}

/* Centering Add Supplier Form */
.form-container-i {
  max-width: 600px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.form-group-i {
  margin-bottom: 20px;
}

.btn-primary-i {
  background-color: #007bff;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary-i:hover {
  background-color: #0056b3;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.alert-danger {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}
